.dark-mode1 {
    background-color:#fff !important;
    color: #eee;
    border:none;
    margin:none;
}
.light-mode .navbar {
    background-color:#fff;
    
}
.light-mode .navbar-brand h1 {
color: black !important;
}
.dark-mode .dark-mode1{
    background-color: black !important;
    color: #eee;
    border: none;
}
.dark-mode .navbar {
    background-color: black;
    color: #eee !important;
}
.dark-mode .navbar-brand h1 {
color: #eee !important;
}
.dark-mode .body {
    background-color: black;
}
.dark-mode #portfolio {
    background-color: black;
}
.dark-mode footer {
    background-color:black !important;
}
.dark-mode #footer {
    background-color:black !important;
}
.dark-mode #bottom-footer {    
    background-color:black !important;

}